{% load static %}
{% load form_filters %}
{% include "viagens/html/menu.html" %}
<style>
  .awesomplete {
    display: block;
    width: 100%;
  }
  .awesomplete mark {
    background: transparent !important;
    color: inherit !important;
    font-weight: normal !important;
    text-decoration: none !important;
  }
  .awesomplete input {
    width: 100% !important;
    box-sizing: border-box; /* muito importante para somar padding e borda direito */
  }
</style>

<!-- AOS CSS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<div class="container py-5">
  <div class="row justify-content-center align-items-center g-5">
    
    <!-- Formulário -->
    <div class="col-md-6" data-aos="fade-right">
      <div class="p-4 bg-white rounded shadow" style="max-width: 500px; margin: auto;">
        <h2 class="text-center text-primary mb-4">Solicite um orçamento</h2>
        <form method="post">
            {% csrf_token %}
          
            <div class="mb-3">
              <label for="id_nome" class="form-label">Nome</label>
              {{ form.nome|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_sobrenome" class="form-label">Sobrenome</label>
              {{ form.sobrenome|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_email" class="form-label">Email</label>
              {{ form.email|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_telefone" class="form-label">Telefone</label>
              {{ form.telefone|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_destino" class="form-label">Destino</label><br>
              <input list="destinos" name="destino" id="id_destino" class="form-control" placeholder="Digite ou escolha um destino" autocomplete="off">
              {% include "viagens/html/destinos_list.html" %}
            </div>
            
            
                       
            
          
            <div class="mb-3">
              <label for="id_data_viagem" class="form-label">Data da Viagem</label>
              {{ form.data_viagem|add_class:"form-control" }}
            </div>
          
            <div class="text-center">
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </form>
      </div>
    </div>

    <!-- Imagem -->
    <div class="col-md-6 text-center" data-aos="fade-left">
      <img src="{% static 'images/imgorc.png' %}" class="img-fluid" style="max-height: 800px;" alt="Imagem orçamento">
    </div>

  </div>
</div>

<!-- AOS Script -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
$(document).ready(function(){
  $('#id_telefone').mask('(00) 00000-0000');
});
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"></script>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var input = document.getElementById("id_destino");
    var datalist = document.getElementById("destinos");
    var options = datalist.getElementsByTagName('option');
  
    var destinos = [];
    for (var i = 0; i < options.length; i++) {
      destinos.push(options[i].value);
    }
  
    new Awesomplete(input, {
      list: destinos,
      minChars: 1,
      maxItems: 10,
      autoFirst: true
    });
  });
  </script>





{% include "viagens/html/rodape.html" %}
