{% load static %}
{% load form_filters %}
{% include "viagens/html/menu.html" %}

<!-- AOS CSS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<div class="container py-5">
  <div class="row justify-content-center align-items-center g-5">
    
    <!-- Formulário -->
    <div class="col-md-6" data-aos="fade-right">
      <div class="p-4 bg-white rounded shadow" style="max-width: 500px; margin: auto;">
        <h2 class="text-center text-primary mb-4">Solicite um orçamento</h2>
        <form method="post">
            {% csrf_token %}
          
            <div class="mb-3">
              <label for="id_nome" class="form-label">Nome</label>
              {{ form.nome|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_sobrenome" class="form-label">Sobrenome</label>
              {{ form.sobrenome|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_email" class="form-label">Email</label>
              {{ form.email|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_telefone" class="form-label">Telefone</label>
              {{ form.telefone|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_destino" class="form-label">Destino</label>
              {{ form.destino|add_class:"form-control" }}
            </div>
          
            <div class="mb-3">
              <label for="id_data_viagem" class="form-label">Data da Viagem</label>
              {{ form.data_viagem|add_class:"form-control" }}
            </div>
          
            <div class="text-center">
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </form>
      </div>
    </div>

    <!-- Imagem -->
    <div class="col-md-6 text-center" data-aos="fade-left">
      <img src="{% static 'images/imgorc.png' %}" class="img-fluid" style="max-height: 800px;" alt="Imagem orçamento">
    </div>

  </div>
</div>

<!-- AOS Script -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

{% include "viagens/html/rodape.html" %}
