<datalist id="destinos">
    <option value="Aracaju (AJU)">
    <option value="Belém (BEL)">
    <option value="Belo Horizonte (CNF)">
    <option value="Boa Vista (BVB)">
    <option value="Brasília (BSB)">
    <option value="Campinas (VCP)">
    <option value="Campo Grande (CGR)">
    <option value="Chapecó (XAP)">
    <option value="Cuiabá (CGB)">
    <option value="Curitiba (CWB)">
    <option value="Florianópolis (FLN)">
    <option value="Fortaleza (FOR)">
    <option value="Foz do Iguaçu (IGU)">
    <option value="Goiânia (GYN)">
    <option value="Ilhéus (IOS)">
    <option value="Imperatriz (IMP)">
    <option value="João Pessoa (JPA)">
    <option value="Joinville (JOI)">
    <option value="Juazeiro do Norte (JDO)">
    <option value="Londrina (LDB)">
    <option value="Maceió (MCZ)">
    <option value="Manaus (MAO)">
    <option value="Maringá (MGF)">
    <option value="Natal (NAT)">
    <option value="Palmas (PMW)">
    <option value="Porto Alegre (POA)">
    <option value="Porto Seguro (BPS)">
    <option value="Recife (REC)">
    <option value="Ribeirão Preto (RAO)">
    <option value="Rio Branco (RBR)">
    <option value="Rio de Janeiro (GIG)">
    <option value="Rio de Janeiro (SDU)">
    <option value="Salvador (SSA)">
    <option value="Santarém (STM)">
    <option value="São José do Rio Preto (SJP)">
    <option value="São Luís (SLZ)">
    <option value="São Paulo (CGH)">
    <option value="São Paulo (GRU)">
    <option value="Teresina (THE)">
    <option value="Uberlândia (UDI)">
    <option value="Vitória (VIX)">
    <option value="Vitória da Conquista (VDC)">
    <option value="Macapá (MCP)">
    <option value="Petrolina (PNZ)">
    <option value="Porto Velho (PVH)">
    <option value="Boa Vista (BVB)">
    <option value="Montes Claros (MOC)">
    <option value="São José dos Campos (SJK)">
    <option value="Caxias do Sul (CXJ)">
    <option value="Carajás (CKS)">
    <option value="Tabatinga (TBT)">
  </datalist>
  