{% load static %}
{% include 'viagens/html/menu.html' %}

  <main style="padding: 40px 20px;">
    <h1 style="text-align:center; margin-bottom: 30px;">Nossos Produtos</h1>

    <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">

      <!-- Card 1 -->
      <div style="width: 400px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <img src="{% static 'images/pacote1.jpg' %}" alt="Pacote 1" style="width: 100%; height: 350px; object-fit: cover;">
        <div style="padding: 15px;">
        <div style="text-align: center;">
            <h2 style="font-size: 1.2em;">Voos Nacionais e internacionais</h2>
          <p>Passagens com preços exclusivos</p>
            <br> <br> <br>
          <a href="{% url 'cotacao' %}" style="color: white; background: #198754; padding: 8px 12px; text-decoration: none; border-radius: 4px; display: inline-block; margin-top: 10px; center">Solicitar orçamento</a>
        </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div style="width: 400px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <img src="{% static 'images/pacote2.jpg' %}" alt="Pacote 2" style="width: 100%; height: 350px; object-fit: cover;">
        <div style="padding: 15px;">
        <div style="text-align: center;">     
          <h2 style="font-size: 1.2em;">Pacotes de viagem nacionais e internacionais</h2>
          <p>Passagens aéreas, hotéis , seguro viagem ,  translados e muito mais , pacotes personalizados para você </p>
            
          <a href="{% url 'cotacao' %}" style="color: white; background: #198754; padding: 8px 12px; text-decoration: none; border-radius: 4px; display: inline-block; margin-top: 10px; center">Solicitar orçamento</a>
        </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div style="width: 400px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <img src="{% static 'images/pacote3.png' %}" alt="Pacote 3" style="width: 100%; height: 350px; object-fit: cover;">
        <div style="padding: 15px;">
        <div style="text-align: center;">
            <h2 style="font-size: 1.2em;">Cruzeiros marítimos e fluviais</h2>
          <p>Oferecemos pacotes de viagem para cruzeiros marítimos e fluviais.</p>
        <div style="text-align: center;"> 
            <br> <br>
          <a href="{% url 'cotacao' %}" style="color: white; background:#198754; padding: 8px 12px; text-decoration: none; border-radius: 4px; display: inline-block; margin-top: 10px; center">Solicitar orçamento</a>
        </div>
        </div>
      </div>

    </div>
    <!-- Card 4 -->
      <div style="width: 400px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <img src="{% static 'images/pacote3.png' %}" alt="Pacote 3" style="width: 100%; height: 350px; object-fit: cover;">
        <div style="padding: 15px;">
        <div style="text-align: center;">
            <h2 style="font-size: 1.2em;">Consultoria</h2>
          <p>Um roteiro de viagem sem dor de cabeça.</p>
        <div style="text-align: center;"> 
            <br> <br><br>
          <a href="{% url 'cotacao' %}" style="color: white; background:#198754; padding: 8px 12px; text-decoration: none; border-radius: 4px; display: inline-block; margin-top: 10px; center">Solicitar orçamento</a>
        </div>
        </div>
      </div>

    </div>
  </main>

  {% include 'viagens/html/rodape.html' %}

</body>
</html>
