{% extends "viagens/html/base.html" %}
{% load static %}

{% block title %}Produtos - Desperte Viagens{% endblock %}

{% block content %}
<main style="padding: 40px 20px;">
  <h1 class="text-center mb-5 text-primary">Nossos Produtos</h1>

  <div class="d-flex flex-wrap gap-4 justify-content-center">

    <!-- Card 1 -->
    <div class="card shadow" style="width: 400px;">
      <img src="{% static 'images/pacote1.jpg' %}" class="card-img-top" alt="Pacote 1" style="height: 350px; object-fit: cover;">
      <div class="card-body text-center">
        <h2 class="card-title">Voos Nacionais e Internacionais</h2>
        <p class="card-text">Passagens com preços exclusivos</p>
        <a href="{% url 'cotacao' %}" class="btn btn-success mt-3">Solicitar orçamento</a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card shadow" style="width: 400px;">
      <img src="{% static 'images/pacote2.jpg' %}" class="card-img-top" alt="Pacote 2" style="height: 350px; object-fit: cover;">
      <div class="card-body text-center">
        <h2 class="card-title">Pacotes de viagem nacionais e internacionais</h2>
        <p class="card-text">Passagens aéreas, hotéis, seguro viagem, translados e muito mais. Pacotes personalizados para você.</p>
        <a href="{% url 'cotacao' %}" class="btn btn-success mt-3">Solicitar orçamento</a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card shadow" style="width: 400px;">
      <img src="{% static 'images/pacote3.png' %}" class="card-img-top" alt="Pacote 3" style="height: 350px; object-fit: cover;">
      <div class="card-body text-center">
        <h2 class="card-title">Cruzeiros marítimos e fluviais</h2>
        <p class="card-text">Oferecemos pacotes de viagem para cruzeiros marítimos e fluviais.</p>
        <a href="{% url 'cotacao' %}" class="btn btn-success mt-3">Solicitar orçamento</a>
      </div>
    </div>

  </div>
</main>
{% endblock %}
