{% extends "viagens/html/base.html" %}
{% load static %}

{% block title %}Sobre Nós - Desperte Viagens{% endblock %}

{% block content %}
<section class="container py-5">
  <h1 class="text-center text-primary mb-5">Tudo sobre nós</h1>



  <p class="text-center mb-4 " style="font-size: 20px;" >
Na Desperte, acreditamos que uma viagem vai muito além de conhecer um novo destino ela tem o poder de transformar.
 <br>Por isso, planejamos cada roteiro com o cuidado e expertise de quem entende que cada viagem é única!  </p>
  <p class="text-center mb-4" style="font-size: 20px;">
    Somos especialistas em criar experiências personalizadas, do jeitinho que você sonha e precisa.<br> Mais do que vender viagens, nossa missão é guiar você em uma jornada leve, segura e memorável.</p>
  <p class="text-center mt-4" style="font-size: 20px;">
Cuidamos de cada detalhe para que sua única preocupação seja viver intensamente cada momento.<br> Seja sua primeira viagem ou a realização de um grande sonho, você pode confiar: aqui, a gente faz com o coração e com muita bagagem no assunto, afinal estamos desde 2019 no mercado, com +200 embarques realizados!  </p>
</section>
{% endblock %}
